<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apptester copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Apptester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D162E371B4CBA7300EEB05B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D8CD33C1B4E020D00DE66F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D8CD3551B4E04AF00DE66F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC1E65C1B32581E00880F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC1E6701B32581E00880F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC1E67B1B32581E00880F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
